apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "meteroid.apiFullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "meteroid.apiLabels" . | nindent 4 }}
  {{- with .Values.meteroid.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
{{- if not .Values.api.autoscaling.enabled }}
  replicas: {{ .Values.api.replicaCount }}
{{- end }}
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  revisionHistoryLimit: {{ .Values.meteroid.revisionHistoryLimit }}
  selector:
    matchLabels:
      {{- include "meteroid.apiSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- with .Values.meteroid.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.api.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "meteroid.apiSelectorLabels" . | nindent 8 }}
        {{- with .Values.meteroid.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.api.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ include "meteroid.serviceAccountName" . }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.meteroid.podSecurityContext | nindent 8 }}
      terminationGracePeriodSeconds: {{ .Values.api.terminationGracePeriodSeconds | default 30 }}
      containers:
        - name: {{ .Chart.Name }}-api
          image: "{{ .Values.api.image.repository }}:{{ .Values.api.image.tag }}"
          imagePullPolicy: {{ .Values.api.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.api.service.ports.http }}
              protocol: TCP
            - name: grpc
              containerPort: {{ .Values.api.service.ports.grpc }}
              protocol: TCP
          securityContext:
            {{- toYaml .Values.meteroid.containerSecurityContext | nindent 12 }}
          env:
            {{- with .Values.api.extraEnv }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ include "meteroid.secretsName" . }}
                  key: database-url
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "meteroid.secretsName" . }}
                  key: jwt-private-key
            - name: INTERNAL_API_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "meteroid.secretsName" . }}
                  key: internal-api-secret
            - name: SECRETS_CRYPT_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "meteroid.secretsName" . }}
                  key: secrets-crypt-key
            - name: METEROID_REST_API_EXTERNAL_URL
              value: {{ .Values.global.publicRestApiUrl }}
            - name: METERING_API_EXTERNAL_URL
              value: http://{{ include "meteroid.metering.internalGrpcUrl" . }}
            - name: METEROID_PUBLIC_URL
              value: {{ .Values.global.publicAppUrl }}
            - name: METEROID_API_LISTEN_ADDRESS
              value: 0.0.0.0:{{ .Values.api.service.ports.grpc }}
            - name: METEROID_REST_API_LISTEN_ADDRESS
              value: 0.0.0.0:{{ .Values.api.service.ports.http }}
            - name: ENABLE_MULTI_ORGANIZATION
              value: {{ .Values.api.config.enableMultiOrganization | quote }}
{{/*            - name: SVIX_SERVER_URL*/}}
{{/*              value: {{ .Values.api.config.svixServerUrl }}*/}}
            - name: SVIX_JWT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ include "meteroid.secretsName" . }}
                  key: svix-jwt-token
            - name: OAUTH_GOOGLE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "meteroid.secretsName" . }}
                  key: oauth-google-client-id
                  optional: true
            - name: OAUTH_GOOGLE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "meteroid.secretsName" . }}
                  key: oauth-google-client-secret
                  optional: true
            - name: OAUTH_PENNYLANE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "meteroid.secretsName" . }}
                  key: oauth-pennylane-client-id
                  optional: true
            - name: OAUTH_PENNYLANE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "meteroid.secretsName" . }}
                  key: oauth-pennylane-client-secret
                  optional: true
            - name: OAUTH_HUBSPOT_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "meteroid.secretsName" . }}
                  key: oauth-hubspot-client-id
                  optional: true
            - name: OAUTH_HUBSPOT_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "meteroid.secretsName" . }}
                  key: oauth-hubspot-client-secret
                  optional: true
            {{- if .Values.global.domainsWhitelist }}
            - name: DOMAINS_WHITELIST
              value: {{ .Values.global.domainsWhitelist }}
            {{- end }}
            {{- if and .Values.global.smtp .Values.global.smtp.host }}
            - name: MAILER_SMTP_HOST
              value: {{ .Values.global.smtp.host }}
            {{- end }}
            {{- if and .Values.global.smtp .Values.global.smtp.from }}
            - name: MAILER_FROM
              value: {{ .Values.global.smtp.from }}
            {{- end }}
            {{- if and .Values.global.smtp .Values.global.smtp.tls }}
            - name: MAILER_SMTP_TLS
              value: {{ .Values.global.smtp.tls | quote }}
            {{- end }}
            - name: MAILER_SMTP_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ include "meteroid.secretsName" . }}
                  key: smtp-username
                  optional: true
            - name: MAILER_SMTP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "meteroid.secretsName" . }}
                  key: smtp-password
                  optional: true
            - name: OBJECT_STORE_URI
              value: {{ .Values.global.objectStore.uri }}
            {{- if and .Values.global.objectStore .Values.global.objectStore.s3Endpoint }}
            - name: AWS_ENDPOINT
              value: {{ .Values.global.objectStore.s3Endpoint }}
            {{- end }}    
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "meteroid.secretsName" . }}
                  key: aws-access-key-id
                  optional: true
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "meteroid.secretsName" . }}
                  key: aws-secret-access-key
                  optional: true
          startupProbe:
            httpGet:
              path: {{ .Values.api.httpStartupProbe.path | default "/health" }}
              port: http
            initialDelaySeconds: {{ .Values.api.httpStartupProbe.initialDelaySeconds | default 5 }}
            periodSeconds: {{ .Values.api.httpStartupProbe.periodSeconds | default 5 }}
            failureThreshold: {{ .Values.api.httpStartupProbe.failureThreshold | default 10 }}
          livenessProbe:
            httpGet:
              path: /health
              port: http
            periodSeconds: {{ .Values.api.httpLivenessProbe.periodSeconds | default 20 }}
          readinessProbe:
            httpGet:
              path: {{ .Values.api.httpReadinessProbe.path | default "/health" }}
              port: http
            periodSeconds: {{ .Values.api.httpReadinessProbe.periodSeconds | default 10 }}
          resources:
            {{- toYaml .Values.api.resources | nindent 12 }}
      {{- with .Values.api.affinity }}
      affinity:
        {{- tpl . $ | nindent 8 }}
      {{- end }}
      {{- with .Values.api.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.api.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: Always
