@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
    :root {
      --background: hsl(0 0% 100%);
      --foreground: hsl(240 10% 3.9%);
      --card: hsl(0 0% 100%);
      --card-foreground: hsl(240 10% 3.9%);
      --popover: hsl(0 0% 100%);
      --popover-foreground: hsl(240 10% 3.9%);
      --primary: hsl(142.1 76.2% 36.3%);
      --primary-foreground: hsl(355.7 100% 97.3%);
      --alternative: #0b0b0f;
      --alternative-foreground: #E6E6E6;
      --secondary: hsl(240 4.8% 95.9%);
      --secondary-foreground: hsl(240 5.9% 10%);
      --muted: hsl(240 4.8% 95.9%);
      --muted-foreground: hsl(240 3.8% 46.1%);
      --accent: hsl(240 4.8% 95.9%);
      --accent-foreground: hsl(240 5.9% 10%);
      --destructive: hsl(0 84.2% 60.2%);
      --destructive-foreground: hsl(0 0% 98%);

      --success: hsl(142.1 76.2% 36.3%);
      --success-foreground: hsl(240 10% 3.9%);
      --warning: hsl(38 92% 50%);
      --warning-foreground: hsl(48 96% 89%);


      --border: hsl(240 5.9% 90%);
      --input: hsl(0 0% 100%);
      --ring: hsl(142.1 76.2% 36.3%);
      --radius: 0.5rem;
    
    }
  
    .dark {
      --background: #191a1f;
      --foreground: #ffffff;
      --card: #131419;
      --card-foreground: hsl(0 0% 95%);
      --popover: #0B0B0F;
      --popover-foreground: hsl(0 0% 95%);
      --primary: #479FFA;
      --primary-foreground: hsl(144.9 80.4% 10%);
      --alternative: #E6E6E6;
      --alternative-foreground: #0B0B0F;
      --secondary: #26272F;
      --secondary-foreground: hsl(0 0% 98%);
      --muted: hsl(0 0% 15%);
      --muted-foreground: #868F97;
      --accent: #2f2f33;
      --accent-foreground: hsl(0 0% 98%);
      --destructive: hsl(0 62.8% 30.6%);
      --destructive-foreground: hsl(0 85.7% 97.3%);

      --success: #4ebe96;
      --success-foreground: hsl(240 10% 3.9%);
      --warning: hsl(38 92% 50%);
      --warning-foreground: hsl(48 96% 89%);

      --border: hsl(240 3.7% 15.9%);
      --input: hsl(240 3.7% 15.9%);
      --ring: #479FFA;
    }
  }
  
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@layer utilities {
  .btn-primary {
    @apply inline-block rounded border border-green-500 bg-green-500 py-1 px-3 text-sm;
    color: #fff !important;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
  }

  .btn-primary-hover {
    @apply bg-green-600;
    cursor: pointer;
  }
}
@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Inter/Inter.var.woff2?v=4.0') format('woff2');
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Inter/Inter-italic.var.woff2?v=4.0') format('woff2');
}
:root {
  font-family: InterVariable, sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

html,
body,
#__next,
.main {
  
  line-height: 1.4;
  height: 100%;
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


* {
  box-sizing: border-box;
  font-family: InterVariable, sans-serif;
}

#root > div {
  @apply h-full;
}

.form-group .form-text,
.Form .form-text {
  @apply text-slate-900;
}

.form-group input,
.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='url'],
.form-group input[type='password'],
.form-group input[type='number'],
.form-group input[type='date'],
.form-group input[type='datetime-local'],
.form-group input[type='month'],
.form-group input[type='search'],
.form-group input[type='tel'],
.form-group input[type='time'],
.form-group input[type='week'],
.form-group input[multiple],
.form-group textarea,
.form-group select,
input.form-control,
.form-control input,
.form-control textarea {
  @apply block;
  @apply box-border;
  @apply rounded-md;
  @apply shadow-sm;
  @apply transition-all;
  @apply text-muted-foreground;
  @apply border;
  @apply focus:shadow-md;

  @apply focus:border-slate-900;
  @apply focus:ring-slate-400;

  @apply bg-muted;
  @apply border border-border;

  @apply outline-none;
  @apply focus:ring-2 focus:ring-current;
}

.form-group input,
.form-group select,
.form-group textarea {
  @apply px-4 py-2;
}

.form-group input:focus,
.form-group input[type='text']:focus,
.form-group input[type='email']:focus,
.form-group input[type='url']:focus,
.form-group input[type='password']:focus,
.form-group input[type='number']:focus,
.form-group input[type='date']:focus,
.form-group input[type='datetime-local']:focus,
.form-group input[type='month']:focus,
.form-group input[type='search']:focus,
.form-group input[type='tel']:focus,
.form-group input[type='time']:focus,
.form-group input[type='week']:focus,
.form-group input[multiple]:focus,
.form-group textarea:focus,
.form-group select:focus,
.form-group input:focus .form-control:focus {
  box-shadow: 0 0 0 2px rgba(62, 207, 142, 0.1);
}


// icons in date / time inputs
.dark input[type='date']::-webkit-calendar-picker-indicator,
.dark input[type='datetime-local']::-webkit-calendar-picker-indicator,
.dark input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(0.8);
}


input[type='submit'] {
  @apply btn-primary;
}

input[type='submit']:hover {
  @apply btn-primary-hover;
}

input::placeholder {
  @apply text-slate-900;
}

.form-group input::placeholder {
  @apply text-slate-900;
}

.billing-input-fixed {
  @apply w-full appearance-none rounded border bg-gray-700 py-2 px-3 leading-tight text-gray-300 shadow;
}

a {
  color: inherit;
  text-decoration: none;
}

.input-mono {
  input,
  textarea {
    @apply font-mono;
  }
}

input[type='radio'] {
  @apply p-0;
}

// code {
//   @apply text-code;
// }

div[data-radix-portal]:not(.portal--toast) {
  z-index: 2147483646 !important;
}



.table-container table {
  @apply w-full;
  border-collapse: separate;
  border-spacing: 0;
}

.table-container table span {
  @apply truncate;
}

.table-container thead th {
  @apply text-slate-800 font-normal text-sm;
  @apply bg-slate-300;
  @apply border-t border-b border-slate-500;
}

.table-container thead th:first-child {
  @apply pl-6 rounded rounded-r-none rounded-b-none;
  @apply border-l border-slate-500;
}

.table-container thead th:last-child {
  @apply rounded rounded-l-none rounded-b-none;
  @apply border-r border-slate-500;
}

.table-container tbody tr {
  @apply bg-transparent;
}


.table-container tbody .tr--link {
  @apply cursor-pointer transition-colors;
}

.table-container tbody tr:hover {
  @apply bg-slate-200;
}

.table-container tbody td {
  @apply border-b  p-3 px-4 text-sm text-gray-800 border-slate-500;
}

.table-container tbody td:first-child {
  @apply pl-6 border-b border-l  border-slate-500;
}

.table-container tbody td:last-child {
  @apply pr-6 border-b border-r border-slate-500;
}

.table-container tbody tr:last-child td:first-child {
  @apply rounded rounded-r-none rounded-t-none;
}

.table-container--borderless thead th {
  border-top: none;
}

.table-container--borderless thead th:first-child {
  border-left: none;
}

.table-container--borderless thead th:last-child {
  border-right: none;
}

.table-container--borderless tbody td:first-child {
  border-left: none;
}

.table-container--borderless tbody td:last-child {
  border-right: none;
}

.table-container--borderless tbody tr:last-child td {
  border-bottom: none;
}
