.fadeInLeftHalf {
  animation-name: fadeInLeftHalf;
  animation-duration: 200ms;
}

@keyframes fadeInLeftHalf {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}