name: Audit Rust Dependencies

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/audit-rust.yaml"
      - ".github/actions/rust-setup/**"
      - '**/Cargo.toml'
      - '**/Cargo.lock'
  pull_request:
    types: [ opened, reopened, synchronize ]
    paths:
      - ".github/workflows/audit-rust.yaml"
      - ".github/actions/rust-setup/**"
      - '**/Cargo.toml'
      - '**/Cargo.lock'
jobs:
  audit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: ./.github/actions/rust-setup
        with:
          install-deps: 'false'

      - name: Install cargo-audit
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-audit

      - name: Run cargo audit
        run: cargo audit
